@font-face {
  font-family:'Economica';
  src:url(font/economic.css);
}
* {
  box-sizing: border-box;
  font-family: arial;
}
p{
  font-size: 1.40em;
}
.topbar{
  display: flex;
  justify-content: space-between;
  background: #363535;
}
body{
  background: #f7bf09;
  margin: 0;
}
header{
  background-image: url(https://images.squarespace-cdn.com/content/v1/5c8a7612a56827db3c92a75b/1554486845511-4EVK14CWOJJ67V549THA/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/BW-07154.jpg?format=2500w);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button a{
  color: black;
  text-decoration: none;
}
.graphic{
position: relative;
}
.graphic a img{
width:50%;
}
li a{
  color: #f7bf09;
  text-decoration: none;
}
.button{
  background:#f7bf09;
  height: 50px;
  width: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing:.25em;
}
.buttons{
  background:#f7bf09;
  height: 25px;
  width: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}
.buttons a{
  color: black;
  text-decoration: none;
}
form{
  display: flex;
  flex-direction: column;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5c8a7612a56827db3c92a75b/1554488758907-PL0MI0H1P099LCI61LSK/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/BW-07156.jpg?format=2500w);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  color: white;
  padding-bottom: 50px;
}
form h2{
  color: #f7bf09;
}
.name{
  display:flex;
}
.first{
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width:100%;
}
.placehold{
  color:transparent;
}
.last{
  display: flex;
  flex-direction: column;
  width: 100%
}
.first input{
  height: 40px;
  border-radius: 3px;
}
.last input{
  height: 40px;
  border-radius: 3px;
}
.first label{
  margin-top: 10px;
  font-size: 11px;
}
.last label{
  margin-top: 10px;
  font-size: 11px;
}
.first :first-child{
  font-size: 20px;
}
.last :first-child{
  font-size: 20px;
}
.name{
  width: 60%;
}

.email{
  display:flex;
  flex-direction: column;
  width: 60%;
  margin-top: 30px;
}
.email input{
  height: 40px;
  border-radius: 3px;
}
.email :last-child{
  background: transparent;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  height: 45px;
  width: 150px;
  margin-top: 30px;
  letter-spacing:.25em;
  margin-bottom: 70px;
  border-radius:0;
  border: solid 2px white;
}
footer{
  background-color: #363535;
  padding-top:50px;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
}
footer .button{
  color:black;
  text-decoration: none;
  letter-spacing: .25em;
}
 .media a img{
  height: 20px;
  filter: invert(100%);
  margin-top:30px;
  margin-right: 5px;
  margin-left: 5px;
}
footer p{
  margin-top: 50px;
  font-size: 13px;
}
footer p a{
  color: white;
  text-decoration:none;
}
footer .links{
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
footer .links a{
  color: grey;
  text-decoration: none;
}
  .container{
    padding-left: 13%;
  }
  .logo {
    width: 200px;
    height: 40px;
    margin-left: 40px;
  }
  .topbar{
    height: 6rem;
    align-items: center;
    margin: 0;
  }
  nav ul {
    display: flex;
  }
  li{
    list-style-type: none;
    margin-left: 40px;
  }
  ul:last-child{
  margin-right:40px;
  }
  header{
    height: 600px;
  }
  header h1{
    font-size: 1.75rem;
    font-weight: normal;
    color:#f7bf09;
    letter-spacing:.25em;
    font-family: Economica arial;
  }
  header h2{
    font-size: 4rem;
    font-weight: 400;
    color:#f7bf09;
  }
  .container{
    display: flex;
  }
  form h2{
    font-size: 70px;
  }
  .container{
    width:100%
  }
  .main{
    width:150%;
    margin-right: 30px;
  }
  /* this is remix stuff*/
  aside{
    border-left: thick solid #363535;
    border-top: thick solid #363535;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
  }
  .about{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 0 2rem;
  }
.about h3{
  align-self: center;
  margin: 0;
}
